.App {
  text-align: center;
  color:white;
  background: black;
}

.article a {  

  display: block;  
  border-radius: 25px;
  padding: 25px;  
  border: 1px solid #ccc;  
  margin:  10px;  
  text-decoration: none;  
  color: white;
  margin-left: auto;
    margin-right: auto;
    width: 600px;

}
.article a:hover { 
 background: #d2be96;
 color:black;
}
.article a title {  
  text-align: center;
}
.article a desc {

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
